---
:machine:
  # https://app.vagrantup.com/bento/boxes/rockylinux-9
  :box: bento/rockylinux-9 # 64GB HDD
  :memory: 3072 # 3GB RAM
  :cpus: 1
  :hostname: rockylinux-9
  :timezone: America/Los_Angeles

:forwarded_ports:
  - :id: ssh
    :host: 2200
    :guest: 22
  - :id: http
    :host: 8000
    :guest: 80
  - :id: http3000
    :host: 3000
    :guest: 3000
  - :id: mysql
    :host: 33060
    :guest: 3306

:synced_folder:
  :host: ~/Code
  :guest: /home/vagrant/Code
  :owner: vagrant
  :group: vagrant

:copy_files:
- :source: ~/.ssh
  :destination: ~/.ssh
- :source: ~/.gitconfig
  :destination: ~/.gitconfig

:php_error_reporting: E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT

# :ruby_version: 3.1.3
...
